# Ignore Mac OS system file
.DS_Store

# Ignore Visual Studio code file
.vscode/

# Ignore (raw) data directory
data/

# Ignore resources directory
resources/

# Ignore staging directory
staging/

# Igonre __pycache__directory
__pycache__/
